# 依賴目錄 Dependencies directories
node_modules/
**/node_modules/
dist/
build/
**/dist/

# 環境變量文件 Environment variables
.env*
**/.env*

# 配置目錄和文件 Configuration directories and files
/config/
/config/secure/

# 日誌文件 Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 編輯器目錄和文件 Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 操作系統文件 OS files
.DS_Store
Thumbs.db

# 臨時文件 Temporary files
*.tmp
*.temp
.cache/

# 數據庫文件 Database files
*.sqlite
*.db

# 測試覆蓋率 Test coverage
coverage/

# QR Code 圖片 QR Code images
/server/public/qrcodes/ 